<div class="bottom-screen">
  <div class="bottom-screen__outline bottom-screen__outline-top"></div>

  <div class="bottom-screen__fight">
    <app-button [text]="'fight'" [size]="'large'"></app-button>
  </div>
  <div class="bottom-screen__container">
    <div class="bottom-screen__side">
      <app-button [text]="'bag'" [size]="'medium'"></app-button>
    </div>
    <div class="bottom-screen__center">
      <app-button [text]="'run'" [size]="'medium'"></app-button>
    </div>
    <div class="bottom-screen__side">
      <app-button [text]="'pokemon'" [size]="'medium'"></app-button>
    </div>
  </div>
  <div class="bottom-screen__outline bottom-screen__outline-bottom"></div>
</div>
