.bottom-screen {
  width: 100%;
  background: lightcyan;  /* fallback for old browsers */
  border-radius: 10px;
}

.bottom-screen__outline {
  height: 40px;
  background-color: #82ccdd;
}

.bottom-screen__outline-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 10px;
}

.bottom-screen__outline-bottom {
  margin-top: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.bottom-screen__fight{

}

.bottom-screen__container{
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}

.bottom-screen__side {
  margin-top: -10px;
}
